body,
html {
  font-family: sans-serif;
}

.garden {
  height: 800px;
  width: 1200px;
  background: url("../public/tree_example (1).svg");
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0 0 30px 4px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  background-color: rgb(169, 130, 100);
}

.garden__pine {
  position: absolute;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.tree-one {
  bottom: 50px;
  left: 80px;
}

.tree-two {
  bottom: 80px;
  left: 140px;
}

.tree-three {
  bottom: 250px;
  right: 500px;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;

  z-index: 10;
  display: grid;
  place-items: center;
}
.popup-card {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 400px;
  padding-bottom: 20px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.popup-card button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-card button:hover {
  background-color: #0056b3;
}
