.garden {
  height: 800px;
  width: 1100px;
  background: url("../../../public/treebg.svg");
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0 0 30px 4px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  background-color: rgb(169, 130, 100);
}

.garden__pine {
  position: absolute;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.tree-one {
  bottom: 50px;
  left: 80px;
}

.tree-two {
  bottom: 80px;
  left: 140px;
}

.tree-three {
  bottom: 250px;
  right: 400px;
}
